body {
    font-family: "Host Grotesk", sans-serif;
    background-color: rgb(200, 252, 252);
  }
  .title{
    text-align: center;
  }
  .individuals {
    text-align: center;
  }
  .generals {
    text-align: center;
  }
  .form {
    background-color: white; 
    color:  rgb(0, 199, 206);
    border-radius: 1%;
    box-shadow:  0 0.5px 10px 0.5px rgb(180, 219, 219);
    margin-top: 2%;
    margin-left: 15%; 
    margin-right: 15%;
    padding-left: 2%; 
    padding-right: 2%;
    padding-bottom: 1%;
  }
  .container {
    background-color: rgb(236, 254, 255);
    margin-top: 2%;
    margin-left: 15%; 
    margin-right: 15%;
    padding-left: 2%; 
    padding-right: 2%;
    padding-bottom: 1%;
  }