body {
    background-color: #1b1b1b;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header {
    background-color: #e96309;
    color: white;
    padding: 1px;
    text-align: center;
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #252525;
    padding: 25px;
}
nav a{
    color: white;
    transition: 0.5s;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: #e96309;
    border-radius: 5px;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.box {
    padding: 20px;
    background-color: #444444;
    border-radius: 10px;
    margin-right: 20px;
    width: 50%;
    box-shadow: 4px 4px 8px 8px rgb(24, 23, 23);
}
.box h3{
    color: #e96309;
    font-size: 20px;
}
.box p{
    color: white;
    font-size: 15px;
}
.image{
    text-align: center;
    margin: 10px 0px 25px 0;
}
footer{
    text-align: center;
    background-color: #252525;
    padding: 30px;
    color: white;
    font-size: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
    border-top: 8px solid #e96309;
}